/* 1. ---Contact--- */




#contact{
    height: 811px;
    grid-column: 1/-1;
    background-color: #E09026;
}


#contact-form{
    grid-row: 2/3;
    grid-column: 1/7;
    width: 459px;
    height: 539px;
    background-color: #AE2929;
    border-color: #707070;
}

#contact-form h3{
    text-align: center;
    color: #E09026;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.contact-input{
    margin-top: 15px;
}

.contact-input label{
    margin-left: 30px;
    color: #E09026;
    font-size: 15px;
}

.contact-input input{
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    width: 400px;
    height: 40px;
    /* background-color: #AE2929; */
    border-color: #707070;
    margin-top: 5px;
    color: #000000;
    margin-left: 30px;
}

.contact-input label{
    border: none
}


#contact-photo{
    grid-row: 2/3;
    grid-column: 7/-1;
    width: 459px;
    height: 539px;
}

#contact-photo img{
    width: 459px;
    height: 539px;
}

.contact-input #message{
    height: 100px;
}

#button-box{
    width: 41px;
    height: 20px;
    position: relative;
}

#button-contact{
    font-size: 15px;
    color: #AE2929;
    position:absolute; 
    top: 30px;
    left:370px;
    background-color: #E09026;
    border: none;
}