/* 1. ---General Styles--- */
/* 2. ---Grid--- */
/* 3. ---Header--- */
/* 4. ---Main Hero Image--- */
/* 5. ---Info-Box--- */
/* 6. ---Video--- */
/* 7. ---History--- */
/* 8. ---Footer--- */

/* 1. ---General Styles--- */

img, video, object{
    max-width: 100%;
}

.hidden{
    display: none;
}

.container{
    max-width: 375px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif, Verdana;
    font-size: 20px;
    border: solid 1px #333;
}

.box-color{
    background-color: black;
    color: #fff;
    text-align: center;
}

.box-color2{
    background-color: #a7a7a7;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
 }

#container-main{
    border-bottom: 0;
}

/* 2. ---Grid--- */

.grid{
    display: grid;
    grid-template-columns: repeat(4,68px);
    grid-column-gap: 10px;
    padding-left: 36px;
    padding-right: 36px;
}



/* 3. ---Header--- */

#main-header{
    background-color: #E09026;
}

#header-logo {
    height: 60px;
    width: 55px;
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 24px;
}

#header-logo img{
    width: 100%;
}

#header-nav{
    grid-column: 4/-1;
    margin-top: 25px;
}


#header-nav label img{
    width: 41px;
    height: 41px;
    transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#header-nav input, #burger-con{
    display: none;
}

#header-nav input:checked ~ #burger-con {
    display: block;
    transform: translateX(-72%);
    background-color: #822021;
    width: 375px;
    margin-top: 10px;
}

#header-nav input:checked ~ label img{
    transform: rotate(-90deg);
}


#header-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#header-nav li a {
    display: block;
    /* trbl */
    padding: 10px 0 10px 0;
    text-align: center;
    color: #ffffff;
}

#header-nav li {
    border-bottom: 1px solid #efefef;
}

#header-nav li:first-child {
    border-top: 1px solid #efefef;
}

#header-nav:last-child {
    margin-bottom: 10px;
}

/* 4. ---Main Hero Image--- */

#hero-section{
    grid-column: 1/-1;
    background-color: #E09026;
    height: 805px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #hero-photo{
    height: 529px;
    width: 302px;
}


/* 5. ---Info-Box--- */

#info-box{
    grid-column: 1/-1;
    grid-row: 1/4;
    height: 2051px;   
    background-color: #822021;
}

#info-box h2{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 80px;
    width: 310px;
    height: 135px;
    color: #E09026;
    margin-top: 80px;
}

#info-box1{
    grid-row: 2/3;
    grid-column: 1/-1;
}

#info-box2{
    grid-row: 3/4;
    grid-column: 1/-1;
}

#info-box3{
    grid-row: 4/5;
    grid-column: 1/-1;
}




.info-photo{
    width: 302px;
    height: 383px;
    transition: 1s;
}

.info-photo:hover{
    transform: scale(1.1);
    z-index: 2;
}


.button-product{
    width: 173px;
    height: 60px;
    background-color: #AE2929;
    color: #E2CBAC;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.button-product:hover {
    background-color: #bf5c5c;
}

/* 6. ---Video--- */

#video-box{
    height: 775px;
    grid-column: 1/-1;
    background-color: #AE2929;
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* 7. ---History--- */

#history{
    height: 1110px;
    grid-column: 1/-1;
    background-color: #208281;
}

#history h2{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 80px;
    width: 255px;
    height: 106px;
    color: #E09026; 
    margin-top: 70px;
    justify-content: center;
    justify-self: center;
}


#history-photo{
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-content: center;
    justify-self: center;
}

#history-photo img{
    width: 255px;
    height: 451px;
}

#history-text{
    grid-row: 3/4;
    grid-column: 1/-1;
    justify-content: center;
    justify-self: center;

}

#history-text p{
    font-size: 25px;
    width: 255px;
    height: 166px;
    color: #E09026;
    margin-top: 40px;
}


.button-history{
    width: 156px;
    height: 60px;
    background-color: #E09026;
    color: #AE2929;
    font-size: 20px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.button-history:hover {
    background-color: #e1ae6b;
}



/* 8. ---Footer--- */

#footer-box{
    height: 622px;  
    background-color: #E09026;
}

#top-footer{
    font-size: 14px;
    color: #208281;
    margin-top: 30px;
    grid-row: 1/2;  
    grid-column: 4/-1;
    height: 19px;
    text-align: right;
}

 #social-media{
    width: 146px;
    height: 110px;
    grid-column: 3/-1;
    grid-row: 3/4; 
    margin-top: 30px;
 }

 #social-media h3{
    font-size: 20px;
    color: #208281;
    text-align: center;
 }

#icons-socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

 #icons-socialmedia img{
    margin-top: 10px;
    width: 34px;
    height: 34px;
 }

 #icons-socialmedia img:hover{
    transform: scale(1.2);
    z-index: 2;
}
 
 #mainform-newsletter{
    grid-column: 1/-1;
    grid-row: 2/3;  
    margin-top: 25px;
 }

 #mainform-newsletter h2{
    font-size: 20px;
    color: #208281;
    padding-bottom: 20px;
 }

 #mainform-newsletter input{
    width: 285px;
    height: 57px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    font-size: 14px;
    padding-left: 15px;
 }

#button-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 #button-footer button{
    width: 120px;
    height: 60px;
    background-color: #208281;
    margin-top: 15px;
    border: none;
    align-self:flex-end;
 }

 #copyright{
    width: 303px;
    height: 29px;
    grid-column: 1/-1;
    grid-row: 4/5;  
    margin-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
 }

 #copyright li {
    display:inline;
    font-size: 14px;
    margin-right: 8px;
 }


 #copyright li a {
    color: #208281;
 }

 #container-footer{
    border-top: 0;
 }